<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="main" style="margin-left: 0;">
    <p class="heading">
      About Me
    </p>
    <img src="headshot.jpg" width="500px" height="automatic" style="padding: 10px;">
    <p>
      Hi, my name is Garret Snitchler. I'm a Software Engineering student who was raised in Nebraska. I studied at the University of Nebraska-Lincoln. My hobbies are board games, video games, reading, writing, tennis, and more. I am currently looking for work!
    </p>
    <p class="heading">
      Resume
    </p>
    <div>
      <iframe src="Resume.pdf" height="800px" width="600px"></iframe>
    </div>
  </div>
</body>
</html>