<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garret Snitchler</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body style="background-color: rgb(255, 212, 132);">
  <div class="sidenav">
    <p>Garret Snitchler's Website</p>
    <a href="app.component.html">Technical Projects</a>
    <a href="creative.html">Writing Projects</a>
    <a href="resume.html">Resume</a>
    <a href="about.html">About Me</a>
    <a href="#">Contact</a>
  </div>
  <div class="main">
    <p class="heading">
      Technical Projects
    </p>
    <p>
      I study Software Engineering and have worked on various projects for various groups. This is not a comprehensive list, but I wanted to showcase work that is either recent or notable to paint a picture of the sorts of things that I have done.
    </p>
    <a href="https://github.com/garret-snitchler">Github</a>
    <app-project-card
      [projectTitle]="'AI Chatbot'"
      [projectDescription]="`
      This work was done for a corporation, so I won't name too many specifics. However, using Microsoft Azure to connect to an OpenAI subscription,
      myself and my team were able to create an in-house chatbot powered by generative AI. This chatbot was fed on internal documentation to make it easier for new and old
      employees alike to quickly reference protocols and other information that can otherwise require a lot of digging. Additionally, the tool was capable
      of citing the documents it was getting its information from and could have new information sources added to it through an administrator view. 
      `"
    ></app-project-card>
    <div class="row">
      <p class="subheading">AI Chatbot</p>
      <p>
        This work was done for a corporation, so I won't name too many specifics. However, using Microsoft Azure to connect to an OpenAI subscription,
        myself and my team were able to create an in-house chatbot powered by generative AI. This chatbot was fed on internal documentation to make it easier for new and old
        employees alike to quickly reference protocols and other information that can otherwise require a lot of digging. Additionally, the tool was capable
        of citing the documents it was getting its information from and could have new information sources added to it through an administrator view. 
      </p>
      <!-- we might have an image here? -->
    </div>
    <div class="row">
      <p class="subheading">Automatic Email Notification System</p>
      <p>
        This work was done for a corporation, so I won't name too many specifics. However, I led a team that created an automatic email notification system.
        This system used Snowflake to access the company's database. By using Snowflake to register changes in the data, we were able to then connect to the company's
        in-house email messaging API to then send notifications to employees about when certain tasks they were waiting on had been completed. Also with Snowflake,
        we would find the email address of the specific employee that the task was relevant to to avoid spamming an entire office or role over something only one person
        would care about. This project is ongoing and we are currently working to get this system set up on Kubernetes. 
      </p>
    </div>
    <div class="row">
      <p class="subheading">Tic Tac Toe in Godot</p>
      <p>
        This was some solo game development work I did as a personal project. My goal was to get more comfortable with game development and Godot as a game engine.
        I used the familiar game of Tic Tac Toe as a blueprint and then began work on all of the different work that would go into making it as functional on a 
        computer as it would be on a piece of paper. This involved getting assets into the game, learning gdscript, scene management, and more. After initial functionality
        was established, I tried to put as much quality of life into the game as possible, though ultimately never went as far as setting up multiplayer. I ended
        the project by teaching myself how to export a game into an executable format in order to make things more user friendly. 
      </p>
    </div>
  </div>
</body>
</html>
<router-outlet />