<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garret Snitchler</title>
</head>
<body>
  <div class="sidenav">
    <p>Garret Snitchler's Website</p>
    <li><a routerLink="/technical" routerLinkActive="active" ariaCurrentWhenActive="page">Technical Projects</a></li>
    <a href="creative.html">Writing Projects</a>
    <li><a routerLink="/me" routerLinkActive="active" ariaCurrentWhenActive="page">About Me</a></li>
    <a href="#">Contact</a>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</body>
</html>